@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-02-21 10:53:32
 * @version $Id$
 */
.mf-header{padding:0 .4rem;height:1.92rem;line-height:1.92rem;}
.mf-header .mf-logo{width:1.8rem;height:1.6rem;background:url(../images/mf-logo.png) no-repeat;background-size:contain;}
.mf-header .mf-article{font-size:.7rem;font-weight:bold;}
.mf-header .to-login{width:2.6rem;height:1.2rem;line-height:1.2rem;border-radius:1.2rem;}

.mf-wrap{padding-bottom:1.92rem;}
.mf-wrap .func-sec{border-top:1px solid #e8e8e8;}
.mf-wrap .func-sec li{padding:0 .8rem;float:left;width:50%;border-bottom:1px solid #e8e8e8;}
.mf-wrap .func-sec li .func-item{height:2.8rem;}
.mf-wrap .func-sec li .func-icon{position:relative;margin-right:0.7rem;}
.mf-wrap .func-sec li .func-icon .icon{position:relative;display:block;width:2.16rem;height:2.16rem;background:url(../images/func-icon.png) center no-repeat;background-size:contain;z-index:2;}
.mf-wrap .func-sec li .func-icon .shadow{position:absolute;top:.6rem;left:.6rem;width:1.8rem;height:1.8rem;border-radius:50%;background:-webkit-radial-gradient(#777,#eee 60%,#fff);}
.mf-wrap .func-sec li .func-font .title{font-size:.6rem;}
.mf-wrap .func-sec li .func-font .desc{font-size:.4rem;color:#999;}
.mf-wrap .func-sec li:nth-child(n){border-right:1px solid #e8e8e8;}

.app-scroller{height:5.3rem;}
.mf-wrap .topic-sec{padding-left:0.4rem;}
.mf-wrap .topic-sec .topic-title{padding-left:.3rem;height:2.1rem;line-height:2.1rem;font-size:.62rem;}
.mf-wrap .topic-sec .topic-title:before{content:'';left:0;top:50%;margin-top:-.3rem;position:absolute;width:0.12rem;height:0.6rem;background:#333;border-radius:.12rem;}
.mf-wrap .topic-sec li{margin-right:.4rem;width:12.6rem;}
.mf-wrap .topic-sec li img{width:12.6rem;height:5.3rem;border-radius:0.2rem;}